:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.main{
  display: grid;
  grid-template-columns: repeat(12,45px);
  grid-template-rows: repeat(18,45px);
  background-color: rgb(37, 72, 130);
}
.titel{
  color: white;
  grid-row: 1/2;
  grid-column: 2/12;
  font-size: 38px;
  justify-self: center;
}
.table{
  box-shadow:0 0 20px 2px  grey;
  grid-row: 3/13;
  grid-column:2/12 ;
  display: grid;
  grid-template-columns: repeat(10,45px);
  background-color: rgb(186, 194, 205);
  align-items: center;
  justify-items: center;
  
}
.cell{
  height: 92%;
  width: 92%;
  box-shadow: 1px 1px black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(69, 73, 84);
}
.click{
  color: white;
  grid-row: 14/16;
  grid-column: 1/18;
  justify-self: center;
  font-size: 55px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.keep{
  display: grid;
  color: rgb(238, 241, 6);
  grid-row: 16/17;
  grid-column: 4/11;
  font-size: 40px;
}
.suc{
  display: grid;
  color: greenyellow;
  grid-row: 16/17;
  grid-column: 1/18;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-self: center;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-self: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.x{
  background-color: black;
  color: red;
  font-size: 20px;
}
.v{
  background-color: greenyellow;
  box-shadow: 0 0 30px 15px greenyellow;
  z-index: 1;
}
.false-button{
  display: none;

}
.true-button{
  display: grid;
  grid-row: 17/19;
  grid-column: 1/18;
  height: 5vh;
  align-self: center;
  justify-self: center;
}

/* From Uiverse.io by nima-mollazadeh */ 
.true-button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
}

.true-button span {
  position: relative;
  z-index: 1;
  font-size: 18px;
}

.true-button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.true-button:hover::before {
  opacity: 0.7;
}

.true-button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.true-button:hover:after {
  opacity: 1;
}


.true-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.true-button:hover {
  border-color: #646cff;
}
.true-button:focus,
.true-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .true-button {
    background-color: #f9f9f9;
  }
}
